@import url(style.css);
.service-support {
  padding: 150px 8%;
  background-color: var(--main-color);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}
.support-card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.support-card p {
  color: var(--text-muted);
}
.card-svg {
  position: relative;
}
.card-svg img {
  position: relative;
  z-index: 2;
}
.card-svg::after {
  content: "";
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: var(--text-light);
  position: absolute;
  left: 20px;
  z-index: 1;
  bottom: 0px;
}
.service-materials {
  background-color: var(--main-color);
  padding: 50px 8%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1rem;
}

.service-material-content-head {
  font-size: 32px;
  font-weight: 500;
  padding-bottom: 15px;
}
.service-material-content-p {
  color: var(--text-muted);
  padding-bottom: 15px;
}
.service-material-content-btn {
  background-color: rgba(0, 0, 0, 0.932);
  color: var(--text-color);
}
.service-material-content-btn:hover {
  background-color: black;
}
.service-material-product {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.service-product-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
}
.service-product-card img {
  width: 100%;
  position: relative;
  z-index: 5;
  transition: all 0.5s ease;
}
.service-product-card::after {
  content: "";
  background-color: var(--bg-color);
  width: 100%;
  height: 0%;
  border-radius: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  transition: 0.5s ease;
}

.p-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 5;
}
.p-info span:first-child {
  font-weight: 600;
  font-size: 17px;
}
.p-info span:last-child {
  font-weight: 700;
  font-size: 18px;
}
.service-product-card i {
  font-size: 35px;
  opacity: 0;
  transition: all 0.5s ease;
  z-index: 5;
  cursor: pointer;
}
.service-product-card:hover::after {
  height: 70%;
}
.service-product-card:hover img {
  transform: translateY(-15px);
}
.service-product-card:hover i {
  opacity: 1;
  transform: translateY(10px);
}
