@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
:root {
  --primary-color: #3b5d50;
  --secondary-color: #f9bf29;
  --main-color: #fafafa;
  --text-color: #fff;
  --text-muted: #646363;
  --text-light: #c2c0c0af;
  --bg-color: #eff2f1;
}

/* navbar section start */
.navbar {
  background-color: var(--primary-color);
  color: var(--text-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px 8%;
}
.navbar .navbar-logo h1 {
  font-weight: 600;
  font-size: 40px;
  position: relative;
  cursor: pointer;
}
.navbar .navbar-logo h1::after {
  content: "";
  background-color: var(--text-light);
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  bottom: 15px;
}
.navbar-content {
  display: flex;
  flex-direction: row;
  gap: 5rem;
}
.navbar .navbar-menu ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
}
.navbar-menu {
  position: relative;
}
.slider {
  height: 4px;
  background: var(--secondary-color);
  position: relative;
}
.navbar .navbar-menu ul li {
  cursor: pointer;
  position: relative;
}
.navbar .navbar-menu ul li::after {
  content: "";
  width: 0%;
  height: 4px;
  background-color: var(--secondary-color);
  position: absolute;
  left: 0;
  bottom: -4px;
  transition: all 0.5s ease-in-out;
}
.navbar .navbar-menu ul li:hover::after {
  width: 100%;
}
.navbar .navbar-content .navbar-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3rem;
}
.navbar .navbar-btn i {
  font-size: 20px;
  cursor: pointer;
}
.hambager-menu {
  cursor: pointer;
  display: none;
}
.hambager-menu .line {
  width: 30px;
  height: 2px;
  background-color: var(--bg-color);
  margin-top: 5px;
}
/* navbar section end */
/* main section start */
section {
  display: none;
  min-height: 50vh;
}
.active {
  display: block;
}
/* main section end */
/* home section start */
.home {
  background-color: var(--primary-color);
  color: var(--text-color);
  display: flex;
  flex-direction: row;
  overflow: hidden;
  padding-top: 40px;
  padding-left: 8%;
}
.home-text {
  padding-top: 120px;
  flex: 1;
}
.home-text .heading {
  font-size: 35px;
  font-weight: 800;
  margin-bottom: 20px;
}
.home-text p {
  color: var(--text-light);
  margin-bottom: 20px;
}
.btn-group {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.btn {
  padding: 12px 30px;
  border-radius: 30px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  user-select: none;
}
.btn-shop {
  background-color: var(--secondary-color);
  transition: 0.5s;
}
.btn-shop:hover {
  filter: contrast(1.2);
}
.btn-explore {
  background: transparent;
  border: 2px solid var(--text-light);
  color: var(--text-color);
  transition: 0.5s;
}
.btn-explore:hover {
  border: 2px solid white;
}
.home-photo {
  position: relative;
  flex: 2;
}
.home-photo img {
  position: relative;
  right: -20px;
  z-index: 2;
}
.home-photo::after {
  content: "";
  z-index: 1;
  width: 250px;
  height: 200px;
  position: absolute;
  background-image: radial-gradient(var(--text-light) 15%, transparent 18%);
  background-size: 32px 32px;
  top: 20px;
  right: 0;
}
/*
 home section end */
/* materials section start */
.materials {
  padding: 100px 8%;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  background-color: var(--main-color);
}
.material-content {
  flex: 1;
}
.material-content .content-heading {
  font-size: 30px;
  font-weight: 500;
  line-height: 40px;
  padding-bottom: 30px;
}
.material-content p {
  color: var(--text-muted);
  line-height: 35px;
}
.materials .explore {
  background-color: #1d1d1d;
  color: var(--text-color);
  margin-top: 20px;
}
.materials .explore:hover {
  background-color: black;
}
.material-products {
  flex: 3;
  display: flex;
  gap: 2rem;
}
.material-img {
  height: 100%;
  width: 100%;
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  bottom: -70px;
}
.material-img img {
  width: 100%;
  z-index: 2;
  position: relative;
  top: -80px;
  transition: 0.5s;
}
.material-img .price {
  text-align: center;
  z-index: 2;
  position: relative;
  top: -50px;
}
.price span {
  font-size: 16px;
  font-weight: 500;
}
.price h3 {
  font-size: 18px;
}
.material-img i {
  font-size: 35px;
  z-index: 2;
  position: absolute;
  bottom: 0;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  transition: 0.5s;
  opacity: 0;
}
.material-img::after {
  content: "";
  width: 100%;
  height: 0%;
  background-color: var(--bg-color);
  position: absolute;
  z-index: 1;
  border-radius: 7px;
  bottom: 0;
  transition: 0.5s;
}
.material-img:hover::after {
  height: 85%;
}
.material-img:hover img {
  transform: translateY(-10px);
}
.material-img:hover i {
  opacity: 1;
  bottom: -15px;
}
/* materials section end */
/* why section start */
.why-us {
  padding: 100px 8%;
  display: flex;
  flex-direction: row;
  background-color: var(--main-color);
  position: relative;
  gap: 1rem;
}
.content-container {
  flex: 1;
  display: grid;
  grid-template-areas: "heading heading" "para para" "fast easy" "support return";
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem;
}
.why-heading {
  grid-area: heading;
  font-size: 30px;
}
.content-container p {
  grid-area: para;
  opacity: 0.7;
}
.fast {
  grid-area: fast;
}
.easy {
  grid-area: easy;
}
.support {
  grid-area: support;
}
.return {
  grid-area: return;
}
.why-content {
  opacity: 0.7;
  position: relative;
}
.why-img {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.why-img img {
  width: 450px;
  height: auto;
  border-radius: 10px;
  z-index: 2;
}

.why-content::after {
  content: "";
  background-color: var(--text-light);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  top: 15px;
  left: 20px;
  z-index: -1;
}
.why-img::after {
  z-index: 1;
  content: "";
  width: 300px;
  height: 250px;
  background-image: radial-gradient(
    var(--secondary-color) 15%,
    transparent 15%
  );
  background-size: 32px 32px;
  position: absolute;
  left: 0px;
  top: -100px;
}
/* why section end */
/* Modern deisgn section start */
.modern-section {
  padding: 100px 8%;
  display: flex;
  flex-direction: row;
  column-gap: 3rem;
  background-color: var(--main-color);
}
.modern-photo {
  flex: 1;
  display: grid;
  grid-template-columns: auto auto auto;
  position: relative;
  gap: 1.5rem;
  z-index: 1;
}
.modern-photo::after {
  content: "";
  width: 310px;
  height: 300px;
  background-image: radial-gradient(var(--primary-color) 15%, transparent 15%);
  position: absolute;
  left: -100px;
  top: -100px;
  background-size: 32px 32px;
  z-index: -1;
}
.modern-photo img {
  border-radius: 20px;
}
.grid-1 {
  width: 100%;
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}
.grid-2 {
  width: 100%;
}
.grid-3 {
  width: 100%;
  grid-column: 2 / span 2;
  grid-row: 2 / span 2;
  justify-self: end;
}
.modern-content {
  flex: 1;
}
.modern-content .modern-heading {
  font-size: 28px;
  font-weight: 500;
}
.modern-content p {
  color: var(--text-muted);
  padding-top: 20px;
}
.modern-content ul {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 1.2rem;
  row-gap: 1rem;
  padding-top: 20px;
}
.modern-content ul li {
  list-style: none;
  position: relative;
  padding-left: 15px;
  color: var(--text-muted);
}
.modern-content ul li::before {
  content: "o";
  font-weight: bold;
  color: var(--primary-color);
  position: absolute;
  left: 0px;
}
.modern-content .btn {
  background-color: #1d1d1d;
  color: var(--text-color);
  margin-top: 20px;
}
.modern-content .btn:hover {
  background-color: black;
}
/* Modern deisgn section end */
/* popular product section start*/
.popular-products {
  padding: 100px 8%;
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: var(--main-color);
  gap: 2rem;
}
.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card .card-img {
  position: relative;
  display: flex;
  justify-content: center;
}
.card .card-img img {
  width: 130px;
  z-index: 1;
}
.card .card-img::before {
  content: "";
  width: 80%;
  height: 80%;
  border-radius: 20%;
  background-color: var(--bg-color);
  position: absolute;
  bottom: 10px;
}
.card-content {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
.card-content .card-content-heading {
  font-weight: bold;
}
.card-content p {
  color: var(--text-muted);
}
.card-content .card-content-footer {
  cursor: pointer;
}
.card-content .card-content-footer:hover {
  color: var(--text-muted);
}
/* popular product section end*/
/* about us start */
.aboutus {
  padding: 100px 8%;
  text-align: center;
  background-color: var(--main-color);
  position: relative;
  box-sizing: border-box;
}
.aboutus .about-heading {
  font-size: 28px;
  font-weight: 500;
  padding: 30px 0px;
}
.carousel-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.carousel-inner {
  width: 100%;
  display: flex;
}
.carousel-item {
  min-width: 100%;
}
.carousel-item p {
  padding: 5px 200px;
  color: var(--text-muted);
  font-size: 16px;
  line-height: 2rem;
}

.carousel-item .profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}
.carousel-item .profile img {
  border-radius: 50%;
  width: 80px;
}
.carousel-item .profile span {
  font-weight: bold;
}

.controls {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.controls button {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}
.controls button:active,
.controls button:hover {
  color: var(--text-color);
  background-color: var(--primary-color);
}
.indicators {
  width: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  padding-top: 30px;
  gap: 1rem;
}
.indicators .dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--text-light);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.indicators .active {
  background-color: var(--primary-color);
}
/* about us end */
/* blog start */
.blog {
  padding: 150px 8%;
  background-color: var(--main-color);
}
.blog-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blog-heading h3 {
  font-size: 28px;
  font-weight: 500;
}
.blog-heading a {
  color: black;
}
.blog-heading a:hover {
  text-decoration: none;
}

.blog-photo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  align-items: stretch;
}
.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-container img {
  width: 100%;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
}
.img-container img:hover {
  filter: contrast(70%);
}
.container-text {
  margin: 10px;
}
.container-text a {
  color: black;
  text-decoration: none;
  font-size: 16px;
}
.container-text a span {
  color: var(--text-muted);
}
/* blog end */
/* Contact start */
.contact {
  margin: 20px 7%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.contact-form {
  padding-top: 80px;
}
.contact-form .form-header {
  color: var(--primary-color);
  font-size: 20px;
  font-weight: 400;
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}
.contact-form .form-header i {
  color: var(--text-light);
  font-size: 24px;
  margin-right: 5px;
  text-align: center;
}
.contact-form .form-body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}
.contact-form .form-body input {
  padding: 13px;
  max-width: 230px;
  border-radius: 10px;
  border: 0.5px solid var(--text-light);
}
.contact-form .form-body input:focus {
  outline: 0.5px solid var(--primary-color);
  box-shadow: 2px 1px 3px gray;
}
.send-btn {
  padding: 13px;
  width: 80px;
  border-radius: 10px;
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  cursor: pointer;
}
.contact-form .form-body .send-btn:hover {
  background-color: #2e463d;
}
.img-div {
  position: relative;
}
.contact img {
  width: 400px;
  position: relative;
  right: 0;
  top: -40%;
}

/* Contact end */
/* Funi start */
.funi {
  display: flex;
  flex-direction: row;
  margin: 50px 7%;
  color: var(--text-muted);
  gap: 1rem;
  border-bottom: 1px solid var(--text-light);
}
.funi-content {
  flex: 2;
  text-align: justify;
}
.funi-content h3 {
  color: var(--primary-color);
  font-size: 30px;
  font-weight: 500;
  padding-bottom: 20px;
}
.funi-content p {
  line-height: 2rem;
  padding-bottom: 20px;
}
.social {
  display: flex;
  justify-content: row;
  gap: 1rem;
  padding-bottom: 100px;
}
.social .icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--bg-color);
  color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.5s;
}
.social .icon i {
  font-size: 16px;
}
.social .icon:hover {
  background-color: var(--primary-color);
  color: var(--text-color);
}
.menu-list {
  flex: 5;
  display: grid;
  grid-template-columns: repeat(4, auto);
  padding-top: 70px;
  justify-content: space-around;
  line-height: 2rem;
  column-gap: 2rem;
}
.menu-list ul li {
  list-style: none;
  cursor: pointer;
  transition: 0.5s;
}
.menu-list ul li:hover {
  color: var(--text-light);
}
/* Funi end */
/* footer start */
.footer {
  margin: 20px 7%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--text-muted);
}
.footer a {
  text-decoration: none;
  color: black;
  transition: 0.5s;
}
.footer a:hover {
  color: var(--text-muted);
}
.footer ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}
/* footer end */
/* responsive section */
/* Shop page start */
.shop-header {
  background-color: var(--primary-color);
  padding: 100px 8%;
}
.shop-header h3 {
  color: var(--text-color);
  font-size: 40px;
}
.shop-product {
  padding: 50px 8%;
  padding-bottom: 200px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
}
.product-card {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
.product-card::after {
  content: "";
  background-color: var(--bg-color);
  width: 90%;
  position: absolute;
  bottom: 0;
  z-index: -1;
  border-radius: 7px;
}
.product-card:hover img {
  transform: translateY(-10px);
}
.product-card:hover i {
  opacity: 1;
  transform: translateY(10px);
}
.product-card:hover::after {
  height: 65%;
}
.product-card img {
  width: 100%;
  position: relative;
  top: -75px;
  transition: all 0.5s ease;
}
.product-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: -50px;
}
.product-info .product-name {
  font-weight: 600;
  font-size: 16px;
}
.product-info .product-price {
  font-size: 18px;
  font-weight: 800;
}
.product-card i {
  font-size: 30px;
  opacity: 0;
  transition: all 0.5s ease;
}
/* Shop page end */
@media (max-width: 1200px) {
  .home {
    padding-left: 5%;
  }
  .navbar-content {
    gap: 2rem;
  }
  .home-photo {
    overflow: hidden;
  }
  .home-photo img {
    top: -7%;
    left: 5%;
  }
  .navbar {
    padding: 0 5%;
  }
  .materials,
  .why-us,
  .modern-section,
  .popular-products,
  .aboutus,
  .blog {
    padding-left: 4%;
    padding-right: 4%;
  }
  .contact,
  .funi,
  .footer {
    margin-left: 4%;
    margin-right: 4%;
  }
  .contact img {
    right: 0;
  }
  .navbar .navbar-menu ul {
    margin-left: 10rem;
  }
  .home-photo::after {
    top: 35px;
  }
  .content-container {
    gap: 2rem;
  }
  .material-img {
    bottom: 0px;
  }
  .material-img img {
    top: -60px;
  }
  .material-img .price {
    top: 0px;
  }

  .material-img:hover::after {
    height: 70%;
  }

  .material-img:hover i {
    bottom: -15px;
  }
  .why-img img {
    width: 350px;
    right: 0;
  }
  .why-img::after {
    left: -40px;
  }
  .shop-header {
    padding-left: 4%;
    padding-right: 4%;
  }
}
@media (max-width: 991px) {
  .navbar {
    padding: 2% 15%;
  }
  .navbar .navbar-logo h1 {
    font-size: 35px;
  }
  .navbar .navbar-logo h1::after {
    width: 5px;
    height: 5px;
    border-radius: 5px;
  }
  .navbar-content {
    gap: 1rem;
  }
  .navbar .navbar-menu ul {
    gap: 1rem;
    margin-left: 4rem;
  }
  .home {
    flex-direction: column;
    align-items: center;
    padding-left: 0%;
    padding-top: 0px;
  }
  .home-text {
    padding-top: 20px;
    padding-left: 15%;
  }
  .home-text .heading {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .home-photo img {
    right: 0;
    left: 0;
  }
  .materials {
    padding: 100px 15%;
    flex-direction: column;
    gap: 7rem;
  }
  .material-img {
    bottom: -70px;
  }
  .material-img img {
    top: -80px;
  }
  .material-img:hover::after {
    height: 85%;
  }
  .material-img .price {
    text-align: center;
    z-index: 2;
    position: relative;
    top: -50px;
  }
  .why-us {
    padding: 100px 15%;
    flex-direction: column;
  }
  .why-img {
    padding-top: 50px;
  }
  .why-img::after {
    left: -130px;
    top: -30px;
  }
  .why-img img {
    width: 100%;
  }
  .modern-section {
    flex-direction: column;
    padding: 100px 15%;
  }
  .grid-3 {
    width: 80%;
  }
  .popular-products {
    padding: 50px 15%;
    grid-template-columns: auto auto;
  }
  .aboutus {
    padding: 50px 15%;
  }
  .carousel-item p {
    padding: 0;
  }
  .blog {
    padding: 100px 15%;
    padding-bottom: 200px;
  }
  .contact {
    margin: 50px 15%;
    flex-direction: column-reverse;
    justify-content: space-between;
    margin-top: -150px;
  }
  .img-div {
    display: flex;
    justify-content: flex-end;
  }
  .contact-form {
    padding-top: 0px;
    justify-content: center;
  }
  .funi {
    margin: 0px 15%;
    flex-direction: column;
  }
  .social {
    padding-bottom: 50px;
  }
  .menu-list {
    padding-top: 0px;
    padding-bottom: 50px;
    justify-content: space-between;
  }
  .footer {
    margin: 10px 15%;
    flex-direction: column;
    align-items: center;
    row-gap: 1.5rem;
  }
  .shop-header {
    padding-left: 15%;
    padding-right: 15%;
  }
  .shop-product {
    padding-left: 15%;
    padding-right: 15%;
  }
  .shop-product {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 876px) {
  .navbar {
    padding: 2% 5%;
  }
  .home-text {
    padding-left: 5%;
  }
  .materials,
  .why-us,
  .modern-section,
  .popular-products,
  .aboutus,
  .blog {
    padding-left: 5%;
    padding-right: 5%;
  }
  .navbar-content {
    gap: 3rem;
  }
  .navbar .navbar-menu ul {
    gap: 1.5rem;
  }
  .navbar .navbar-content .navbar-btn {
    gap: 1.5rem;
  }
  .contact {
    margin: 50px 5%;
    margin-top: -150px;
  }
  .funi {
    margin: 0px 5%;
  }
  .shop-header {
    padding-left: 5%;
    padding-right: 5%;
  }
  .shop-product {
    padding-left: 5%;
    padding-right: 5%;
  }
}
@media (max-width: 767px) {
  .navbar {
    padding: 2% 15%;
  }
  .navbar-menu,
  .navbar-btn i {
    display: none;
  }
  .hambager-menu {
    display: block;
  }
  .home-text {
    padding: 0 15%;
  }
  .home-photo img {
    left: 15%;
  }
  .materials,
  .why-us,
  .modern-section,
  .popular-products,
  .aboutus,
  .blog {
    padding-left: 15%;
    padding-right: 15%;
  }
  .material-products {
    flex-direction: column;
    gap: 10rem;
  }
  .material-img {
    width: 75%;
    margin: 0 auto;
  }
  .popular-products {
    grid-template-columns: auto;
  }
  .blog-photo {
    grid-template-columns: auto auto;
  }
  .menu-list {
    grid-template-columns: repeat(2, auto);
    justify-content: start;
    column-gap: 5rem;
  }
  .navbar .navbar-menu ul {
    gap: 1rem;
  }
  .contact {
    margin: 50px 15%;
    margin-top: -150px;
  }
  .funi {
    margin: 0px 15%;
  }
  .shop-product {
    grid-template-columns: 1fr;
  }
  .shop-header,
  .shop-product {
    padding-left: 15%;
    padding-right: 15%;
  }
}
@media (max-width: 576px) {
  .navbar {
    padding: 2% 5%;
  }

  .home-text {
    padding-left: 5%;
  }
  .home-photo img {
    left: 5%;
  }
  .materials,
  .why-us,
  .modern-section,
  .popular-products,
  .aboutus,
  .blog {
    padding-left: 5%;
    padding-right: 5%;
  }
  .material-products {
    flex-direction: column;
    gap: 10rem;
  }
  .material-img {
    width: 75%;
    margin: 0 auto;
  }
  .popular-products {
    grid-template-columns: auto;
  }
  .blog-photo {
    grid-template-columns: auto;
  }

  .contact {
    margin: 50px 5%;
    margin-top: -150px;
  }
  .funi {
    margin: 0px 5%;
  }
  .shop-header,
  .shop-product {
    padding-left: 5%;
    padding-right: 5%;
  }
}
